<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление ФЛ</title>
</head>

<body>

<!--    <form method="post" action="/post_fl">
        <label>Имя</label>
        <input id="first_name" name="first_name" type="text">

        <label>Фамилия</label>
        <input id="second_name" name="second_name" type="text">

        <label>Отчество</label>
        <input id="third_name" name="third_name" type="text">

        <input type="submit">
    </form>-->

    <form method="post" action="/post_fl">

        <Table>
            <tr>
                <td><label>Имя:</label></td>
                <td><input id="name1" name="name1" type="text"></td>
            </tr>
            <tr>
                <td><label>Фамилия:</label></td>
                <td><input id="name2" name="name2" type="text"></td>
            </tr>
            <tr>
                <td><label>Отчество:</label></td>
                <td><input id="name3" name="name3" type="text"></td>
            </tr>
        </Table>

    <input name="Добавить" type="submit">
    </form>
</body>
</html>