<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <style>
        .log {
            margin: 10px;
        }
        <!--style="margin: 10px;"-->
    </style>
</head>
<body>

    <form method="post" action="/" align="center"> <!--todo actin обработать. что бы submit слался -->
        <div class="log">
            <input id="login" name="login" type="text" placeholder="логин">
        </div>
        <div class="log">
            <input id="pass" name="password" type="password" placeholder="пароль">
        </div>

        <input class="log" type="submit">
    </form>


</body>
</html>